{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 

{% block body_class %} sign-in-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  
  <div class="page-header align-items-start min-vh-100" style="background-image: url('./static/assets/img/background2png.png');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom" id="cardLogin2">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2" id="cardTeste2" >
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1" id="headerLogin2">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0" id="TitleAuth2">
                  GLORY
                </h4>
                <div class="row mt-3">
                  <p class="mb-0 text-white text-center">
                    {% if msg %}
                      {{ msg | safe }}
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body">

              {% if not success %}

                <form role="form" method="post" action="">

                  {{ form.hidden_tag() }} 

                  <div class="input-group input-group-outline mb-3" id="inputAuth1">
                    {{ form.username(class="form-control", placeholder="Username") }}
                  </div>
                  <div class="input-group input-group-outline mb-3" id="inputAuth2">
                    {{ form.email(class="form-control", type="email", placeholder="Email") }}
                  </div>
                  <div class="input-group input-group-outline mb-3" id="inputAuth3">
                    {{ form.password(class="form-control", type="password", placeholder="Password") }}
                  </div>
                  <div class="form-check form-check-info text-start ps-0">
                    <input class="form-check-input" type="checkbox" value="" id="myCheckbox" checked>
                    <label class="form-check-label" for="flexCheckDefault" id="terms">
                      I agree the <a href="javascript:;" id="terms2" >Terms and Conditions</a>
                    </label>
                  </div>
                  <div class="text-center">
                    <button type="submit" name="register" 
                            class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" id="buttonSignIn2">Sign Up</button>
                  </div>
                  <p class="mt-4 text-sm text-center" id="terms3">
                    Already have an account?
                    <a href="{{ url_for('authentication_blueprint.login') }}" class="text-primary text-gradient font-weight-bold" id="SignUpRoute2">Sign IN</a>
                  </p>
                </form>

              {% else %} 

                  <p class="mt-4 text-sm text-center">
                    <a href="{{ url_for('authentication_blueprint.login') }}" class="text-primary text-gradient font-weight-bold">Sign IN</a> 
                  </p>
              
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% include 'includes/footer-auth.html' %} 

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

